.All-activites{
    width: 40%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 13px;
}

.activity-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    align-items:center;


  }
  
  .title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .date-added {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
  }
  
  .description {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .read-more-button {
    width: 140px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 0.5rem;
  }

.deleteButton{
  width: 140px;
  background-color: #b44f34;
  color: #fff;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
